* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

.container > * {
    padding: 0 clamp(30px, 10vw, 100px);
}

nav {
    height: 70px;
    box-shadow: 0 3px 7px 0 #0000001A;
    display: flex;
    align-items: center;
}

#logo {
    height: 30px;
}

#hero-image {
    width: 100%;
    padding: 50px clamp(30px, 10vw, 100px);
    display: block;
    margin: 0 auto;
}

h1 {
    font-size: 36px;
    font-weight: 600;
}

#hero p {
    font-weight: 300;
}